
#divSearch{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding-top: 0px;
}

#result{
    margin-top: 0;
    padding-left: 70px;
    padding-right: 70px;
}

